<% include templates/head.ejs %>

<body>
  
  <% include templates/main_menu.ejs %>
  <!-- /main_menu -->
  
  <main>
    <section id="hero_in" class="contacts">
      <div class="wrapper">
        <div class="container">
          <h1 class="fadeInUp"><span></span>Contact Udema</h1>
        </div>
      </div>
    </section>
    <!--/hero_in-->

    <div class="contact_info">
      <div class="container">
        <ul class="clearfix">
          <li>
            <i class="pe-7s-map-marker"></i>
            <h4>Address</h4>
            <span>PO Box 97845 Baker st. 567, Los Angeles<br>California - US.</span>
          </li>
          <li>
            <i class="pe-7s-mail-open-file"></i>
            <h4>Email address</h4>
            <span><a href="http://www.ansonika.com/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="5637323b3f25253f3938162332333b377835393b">aseefahmed@gmail.com</a><br><small>Monday to Friday 9am - 7pm</small></span>

          </li>
          <li>
            <i class="pe-7s-phone"></i>
            <h4>Contacts info</h4>
            <span>+ 61 (2) 8093 3402 + 61 (2) 8093 3402<br><small>Monday to Friday 9am - 7pm</small></span>
          </li>
        </ul>
      </div>
    </div>
    <!--/contact_info-->

    <div class="bg_color_1">
      <div class="container" style="margin-top: 80px;margin-bottom: 80px;">
        <div class="row">
          <div class="col-sm-12">
            <article class="chat">
              <header class="chat-header">
                <div class="h3 chat-title">Roux Chat
                </div><!-- chat-title -->
              </header><!-- chat-header -->
              <form name="chatForm" class="form-horizontal chat-form">
                <div class="form-group">
                  <label for="chat-username" class="col-sm-2 control-label">Name</label>
                  <div class="col-sm-10">
                    <input type="text" class="form-control" id="chat-username" required placeholder="Enter your name">
                  </div><!-- col-sm-10 -->
                </div><!-- form-group -->
                <div class="form-group">
                  <label for="chat-message" class="col-sm-2 control-label">Message</label>
                  <div class="col-sm-10">
                    <div class="input-group">
                      <input type="text" placeholder="Enter a message, then press enter" class="form-control" id="chat-message" rows="2" autocomplete="off"
                       required>
                      <span class="input-group-btn">
                        <input type="submit" id="chat-submit" class="btn btn-info" type="Chat" />
                      </span>
                    </div><!-- input-group -->
                  </div><!-- col-sm-10 -->
                </div><!-- form-group -->
              </form>
              <div class="panel panel-default">
                <div class="panel-body chat-display">
                  <p class="text-muted chat-text">Welcome...add your message using the form above</p>
                </div><!-- panel-body -->
              </div><!-- panel-default -->
            </article><!-- article -->
          </div><!-- col-sm-12 -->
        </div><!-- row -->
      </div><!-- container -->
      <!-- /container -->
    </div>
    <!-- /bg_color_1 -->
  </main>
  <!--/main-->
  
  <% include templates/footer.ejs %>
</body>

<!-- Mirrored from www.ansonika.com/udema/menu_2/contacts.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 30 Apr 2018 07:02:05 GMT -->
</html>