<div class="widget">
	<div class="widget-title">
		<h4>Blog Categories</h4>
	</div>
	<ul class="cats">
		<% categories.forEach(function(category){ %>
			<li><a href="/blog/category/<%= category.name %>"><%= category.name.toUpperCase() %> <!--span>(12)</span--></a></li>
		<% }) %>
	</ul>
</div>
<!-- /widget -->
<div class="widget">
	<div class="widget-title">
		<h4>DevOps Resources</h4>
	</div>
	<div class="tags">
		<a href="https://semaphoreci.com/community/tags/devops" target="_blank">Semaphore</a><br>
		<a href="https://semaphoreci.com/community/tags/devops" target="_blank">Semaphore</a><br>
		<a href="https://devops.com" target="_blank">DevOps</a><br>
		<a href="https://learn.chef.io" target="_blank">Learn Chef</a><br>
		<a href="https://dzone.com" target="_blank">DZone</a><br>
		<a href="https://puppet.com" target="_blank">Puppet</a><br>
		<a href="https://medium.com/topic/technology" target="_blank">Medium.com</a><br>
	</div>
	<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
	<ins class="adsbygoogle"
	     style="display:block; text-align:center;"
	     data-ad-layout="in-article"
	     data-ad-format="fluid"
	     data-ad-client="ca-pub-7144585578219196"
	     data-ad-slot="1029244592"></ins>
	<script>
	     (adsbygoogle = window.adsbygoogle || []).push({});
	</script>
</div>
<!-- /widget -->