<div class="widget">
	<div class="widget-title">
		<h4>Blog Categories</h4>
	</div>
	<ul class="cats">
		<% categories.forEach(function(category){ %>
			<li><a href="/blog/category/<%= category.name %>"><%= category.name.toUpperCase() %> <!--span>(12)</span--></a></li>
		<% }) %>
	</ul>
</div>
<!-- /widget -->
<div class="widget">
	<div class="widget-title">
		<h4>DevOps Resources</h4>
	</div>
	<div class="tags">
		<a href="https://devops.com" target="_blank">DevOps</a><br>
		<a href="https://learn.chef.io" target="_blank">Learn Chef</a><br>
		<a href="https://dzone.com" target="_blank">DZone</a><br>
		<a href="https://puppet.com" target="_blank">Puppet</a><br>
	</div>
</div>
<!-- /widget -->