<div class="widget">
	<div class="widget-title">
		<h4>Blog Categories</h4>
	</div>
	<ul class="cats">
		<% categories.forEach(function(category){ %>
			<li><a href="/blog/category/<%= category.name %>"><%= category.name.toUpperCase() %> <!--span>(12)</span--></a></li>
		<% }) %>
	</ul>
</div>
<!-- /widget -->
<!--div class="widget">
	<div class="widget-title">
		<h4>Popular Tags</h4>
	</div>
	<div class="tags">
		<a href="#">Information tecnology</a>
		<a href="#">Students</a>
		<a href="#">Community</a>
		<a href="#">Carreers</a>
		<a href="#">Literature</a>
		<a href="#">Seminars</a>
	</div>
</div-->
<!-- /widget -->