<!DOCTYPE html>
<html lang="en">


<!-- Mirrored from www.ansonika.com/udema/menu_2/index-2.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 30 Apr 2018 07:01:22 GMT -->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <% if(pageName == "Details" ) { %>
        <meta name="description" content="<%= details[0].short_description %>">
        <meta name="keywords" content="<%= details[0].tags %>">
    <% }else { %>
        <meta name="description" content="Keep Yourself Learning">
        <meta name="keywords" content="devops, jenkins, aws, chef, linux">
    <% } %>
    <meta name="author" content="Ansonika">
    <% if(pageName == 'Index') { %>
        <title>Keep Yourself Learning</title>
    <% }else if(pageName == 'Course Details'){ %>
        <title><%= course[0].title %> | Keep Yourself Learning</title>
    <% } else{ %>
        <title><%= pageName %> | Keep Yourself Learning</title>
    <% } %>

    <!-- Favicons-->
    <link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" type="image/x-icon" href="img/apple-touch-icon-57x57-precomposed.png">
    <link rel="apple-touch-icon" type="image/x-icon" sizes="72x72" href="img/apple-touch-icon-72x72-precomposed.png">
    <link rel="apple-touch-icon" type="image/x-icon" sizes="114x114" href="img/apple-touch-icon-114x114-precomposed.png">
    <link rel="apple-touch-icon" type="image/x-icon" sizes="144x144" href="img/apple-touch-icon-144x144-precomposed.png">

    <!-- SPECIFIC CSS -->
    <link href="/css/skins/square/grey.css" rel="stylesheet">
    <!-- BASE CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
	<link href="/css/vendors.css" rel="stylesheet">
	<link href="/css/icon_fonts/css/all_icons.min.css" rel="stylesheet">


	<!-- Modernizr -->
	<script src="/js/modernizr.js"></script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-118757802-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-118757802-1');
    </script>

    <% if(pageName == 'Blog') %>
        <link href="/css/blog.css" rel="stylesheet">

</head>
