<!-- <div id="preloader">
	<div data-loader="circle-side"></div>
</div>>
<!-- End Preload>

<header class="header fadeInDown">
	<div id="logo">
		<a href="/"><img src="/img/logo.png" data-retina="true" alt=""></a>
	</div>
	<ul id="top_menu">
		<li><a href="/" class="login">About Us</a></li>
		<li><a href="/blog" class="login">Blog</a></li>
		<li><a href="/login" class="login">Login</a></li>
		<li><a href="#0" class="search-overlay-menu-btn">Search</a></li>
		<li><a target="_blank" href="https://www.facebook.com/keepyourselflearning/" style="color:gold">Follow Us On Facebook</a></li>
		<li class="hidden_tablet"><a href="admission.html" class="btn_1 rounded">Admission</a></li>
		<li>
			<div class="hamburger hamburger--spin">
				<div class="hamburger-box">
					<div class="hamburger-inner"></div>
				</div>
			</div>
		</li>
	</ul>
	<!-- /top_menu -->
</header>
<!-- /header -->
<div id="main_menu">
		<div class="container">
		<nav class="version_2">
				<div class="row">
					<div class="col-md-3">
						<h3>Visit</h3>
						<ul>
							<li><a href="/">About Us</a></li>
							<li><a href="/courses">Courses</a></li>
							<li><a href="/blog">Blog</a></li>
							<li><a href="/login">Login</a></li>
							<li><a href="/register">Register</a></li>
							<li><a href="/faq">FAQ</a></li>
							<li><a href="/contact">Contact Us</a></li>
						</ul>
					</div>
					<div class="col-md-3">
						<h3>Our Services</h3>
						<ul>
							<li><a href="courses-grid-sidebar.html">Website Developement</a></li>
							<li><a href="courses-grid-sidebar.html">Website Design</a></li>
							<li><a href="courses-grid-sidebar.html">Logo Design</a></li>
							<li><a href="courses-grid-sidebar.html">App Developement</a></li>
							<li><a href="courses-grid-sidebar.html">DevOps Solutions</a></li>
							<li><a href="courses-grid-sidebar.html">Website Hosting</a></li>
							<li><a href="courses-grid-sidebar.html">Domain Registration</a></li>
							<li><a href="courses-list.html">Training Provider</a></li>
						</ul>
					</div>
					<div class="col-md-3">
						<h3>Our Courses</h3>
						<ul>
							<li><a href="http://www.ansonika.com/udema/index.html">Menu 1</a><span class="badge_info">New</span></li>
							<li><a href="about.html">About</a></li>
							<li><a href="blog.html">Blog</a></li>
							<li><a href="register.html">Register</a></li>
							<li><a href="contacts.html">Contacts</a></li>
							<li><a href="404.html">404 page</a></li>
							<li><a href="agenda-calendar.html">Agenda Calendar</a></li>
							<li><a href="faq.html">Faq</a></li>
							<li><a href="help.html">Help</a></li>
						</ul>
					</div>
					<div class="col-md-3">
						<h3>Latest Articles</h3>
						<ul>
                        	<li><a href="http://www.ansonika.com/udema/admin_section/index.html" target="_blank">Admin-Dashboard</a><span class="badge_info">New</span></li>
							<li><a href="media-gallery.html">Media gallery</a></li>
							<li><a href="cart-1.html">Cart page 1</a></li>
							<li><a href="cart-2.html">Cart page 2</a></li>
							<li><a href="cart-3.html">Cart page 3</a></li>
							<li><a href="pricing-tables.html">Responsive pricing tables</a></li>
							<li><a href="coming_soon/index.html">Coming soon</a></li>
							<li><a href="icon-pack-1.html">Icon pack 1</a></li>
							<li><a href="icon-pack-2.html">Icon pack 2</a></li>
							<li><a href="icon-pack-3.html">Icon pack 3</a></li>
							<li><a href="icon-pack-4.html">Icon pack 4</a></li>
						</ul>
					</div>
				</div>
				<!-- /row -->
			</nav>
			<div class="follow_us">
				<ul>
					<li>Follow us</li>
					<li><a href="#0"><i class="ti-facebook"></i></a></li>
					<li><a href="#0"><i class="ti-twitter-alt"></i></a></li>
					<li><a href="#0"><i class="ti-google"></i></a></li>
					<li><a href="#0"><i class="ti-pinterest"></i></a></li>
					<li><a href="#0"><i class="ti-instagram"></i></a></li>
				</ul>
			</div>
		</div>
	</div>