<!-- <div id="preloader">
	<div data-loader="circle-side"></div>
</div> -->
<!-- End Preload -->

<header class="header fadeInDown">
	<div id="logo" class="">
		<a href="/"><img src="/img/logo.png" data-retina="true" alt=""></a>
	</div>
	<ul id="top_menu">
		<li><a href="/" class="mobile_view">About Us</a></li>
		<li><a href="/blog" class="mobile_view">Blog</a></li>
		<!-- <li><a href="/login" class="login">Login</a></li> -->
		<li><a href="#0" class="search-overlay-menu-btn">Search</a></li>
		<li class="mobile_view"><a target="_blank" href="https://www.facebook.com/groups/559807074419386" style="color:gold">Follow Us On Facebook</a></li>
		<!-- <li class="hidden_tablet"><a href="#" class="btn_1 rounded">Admission</a></li> -->
		<li>
			<div class="hamburger hamburger--spin">
				<div class="hamburger-box">
					<div class="hamburger-inner"></div>
				</div>
			</div>
		</li>
	</ul>
	<!-- /top_menu -->
</header>
<!-- /header -->
<div id="main_menu">
		<div class="container">
		<nav class="version_2">
				<div class="row">
					<div class="col-md-3">
						<h3>Visit</h3>
						<ul>
							<li style="list-style-image: none"><a href="/">About Us</a></li>
							<li style="list-style-image: none"><a href="/courses">Courses</a></li>
							<li style="list-style-image: none"><a href="/blog">Blog</a></li>
							<li style="list-style-image: none"><a href="/login">Login</a></li>
							<li style="list-style-image: none"><a href="/register">Register</a></li>
							<li style="list-style-image: none"><a href="/faq">FAQ</a></li>
							<li style="list-style-image: none"><a href="/contact">Contact Us</a></li>
						</ul>
					</div>
					<div class="col-md-3">
						<h3>Our Services</h3>
						<ul>
							<li style="list-style-image: none"><a href="#">Website Developement</a></li>
							<li style="list-style-image: none"><a href="#">Website Design</a></li>
							<li style="list-style-image: none"><a href="#">Logo Design</a></li>
							<li style="list-style-image: none"><a href="#">App Developement</a></li>
							<li style="list-style-image: none"><a href="#">DevOps Solutions</a></li>
							<li style="list-style-image: none"><a href="#">Website Hosting</a></li>
							<li style="list-style-image: none"><a href="#">Domain Registration</a></li>
							<li style="list-style-image: none"><a href="#">Training Provider</a></li>
						</ul>
					</div>
					
				</div>
				<!-- /row -->
			</nav>
			<div class="follow_us">
				<ul>
					<li>Follow us</li>
					<li><a target="_blank" href="https://www.facebook.com/groups/559807074419386"><i class="ti-facebook"></i></a></li>
					<!-- <li><a href="#0"><i class="ti-twitter-alt"></i></a></li>
					<li><a href="#0"><i class="ti-google"></i></a></li>
					<li><a href="#0"><i class="ti-pinterest"></i></a></li>
					<li><a href="#0"><i class="ti-instagram"></i></a></li> -->
				</ul>
			</div>
		</div>
	</div>

