<footer class="sticky-footer">
      <div class="container">
        <div class="text-center">
          <small>Copyright © Keep Yourself Learning 2018</small>
        </div>
      </div>
    </footer>
    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
      <i class="fa fa-angle-up"></i>
    </a>
    <!-- Logout Modal-->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
          <div class="modal-footer">
            <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
            <a class="btn btn-primary" href="/logout">Logout</a>
          </div>
        </div>
      </div>
    </div>
    <!-- Bootstrap core JavaScript-->
    <script src="/vendor/jquery/jquery.min.js"></script>
    <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- Core plugin JavaScript-->
    <script src="/vendor/jquery-easing/jquery.easing.min.js"></script>
    <!-- Page level plugin JavaScript-->
    <script src="/vendor/datatables/jquery.dataTables.js"></script>
    <script src="/vendor/datatables/dataTables.bootstrap4.js"></script>
  	<script src="/vendor/jquery.selectbox-0.2.js"></script>
  	<script src="/vendor/retina-replace.min.js"></script>
  	<script src="/vendor/jquery.magnific-popup.min.js"></script>
    <!-- Custom scripts for all pages-->
    <script src="/js/admin.js"></script>
  	<!-- Custom scripts for this page-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/4.4.5/js/fileinput.min.js"></script>
    <% if(pageName == 'New Post' || pageName == 'Edit Details') { %>
    <script src="/js/textcounter.min.js"></script>
    <script src="/vendor/selectize/js/standalone/selectize.js"></script>
    <script src="/vendor/ckeditor/ckeditor.js"></script>
    <script>
      CKEDITOR.replace( 'editor', {
        // Define the toolbar: http://docs.ckeditor.com/ckeditor4/docs/#!/guide/dev_toolbar
        // The standard preset from CDN which we used as a base provides more features than we need.
        // Also by default it comes with a 2-line toolbar. Here we put all buttons in a single row.
        toolbar: [
          { name: 'clipboard', items: [ 'Undo', 'Redo' ] },
          { name: 'styles', items: [ 'Styles', 'Format' ] },
          { name: 'basicstyles', items: [ 'Bold', 'Italic', 'Strike', '-', 'RemoveFormat' ] },
          { name: 'paragraph', items: [ 'NumberedList', 'BulletedList', '-', 'Outdent', 'Indent', '-', 'Blockquote' ] },
          { name: 'links', items: [ 'Link', 'Unlink' ] },
          { name: 'insert', items: [ 'Image', 'EmbedSemantic', 'Table' ] },
          { name: 'tools', items: [ 'Maximize' ] },
          { name: 'editing', items: [ 'Scayt' ] }
        ],
        // Since we define all configuration options here, let's instruct CKEditor to not load config.js which it does by default.
        // One HTTP request less will result in a faster startup time.
        // For more information check http://docs.ckeditor.com/ckeditor4/docs/#!/api/CKEDITOR.config-cfg-customConfig
        customConfig: '',
        // Enabling extra plugins, available in the standard-all preset: http://ckeditor.com/presets-all
        extraPlugins: 'autoembed,embedsemantic,image2,uploadimage',
        /*********************** File management support ***********************/
        // In order to turn on support for file uploads, CKEditor has to be configured to use some server side
        // solution with file upload/management capabilities, like for example CKFinder.
        // For more information see http://docs.ckeditor.com/ckeditor4/docs/#!/guide/dev_ckfinder_integration
        // Uncomment and correct these lines after you setup your local CKFinder instance.
        // filebrowserBrowseUrl: 'http://example.com/ckfinder/ckfinder.html',
        // filebrowserUploadUrl: 'http://example.com/ckfinder/core/connector/php/connector.php?command=QuickUpload&type=Files',
        /*********************** File management support ***********************/
        // Remove the default image plugin because image2, which offers captions for images, was enabled above.
        removePlugins: 'image2,autoembed,bootstrapTable,embedsemantic',
        // Make the editing area bigger than default.
        height: 600,
        // An array of stylesheets to style the WYSIWYG area.
        // Note: it is recommended to keep your own styles in a separate file in order to make future updates painless.
        contentsCss: [ 'https://cdn.ckeditor.com/4.8.0/standard-all/contents.css' ],
        // This is optional, but will let us define multiple different styles for multiple editors using the same CSS file.
        bodyClass: 'article-editor',
        // Reduce the list of block elements listed in the Format dropdown to the most commonly used.
        format_tags: 'p;h1;h2;h3;pre',
        // Simplify the Image and Link dialog windows. The "Advanced" tab is not needed in most cases.
        removeDialogTabs: 'image:advanced;link:advanced',
        // Define the list of styles which should be available in the Styles dropdown list.
        // If the "class" attribute is used to style an element, make sure to define the style for the class in "mystyles.css"
        // (and on your website so that it rendered in the same way).
        // Note: by default CKEditor looks for styles.js file. Defining stylesSet inline (as below) stops CKEditor from loading
        // that file, which means one HTTP request less (and a faster startup).
        // For more information see http://docs.ckeditor.com/ckeditor4/docs/#!/guide/dev_styles
        stylesSet: [
          /* Inline Styles */
          { name: 'Marker',     element: 'span', attributes: { 'class': 'marker' } },
          { name: 'Cited Work',   element: 'cite' },
          { name: 'Inline Quotation', element: 'q' },
          /* Object Styles */
          {
            name: 'Special Container',
            element: 'div',
            styles: {
              padding: '5px 10px',
              background: '#eee',
              border: '1px solid #ccc'
            }
          },
          {
            name: 'Compact table',
            element: 'table',
            attributes: {
              cellpadding: '5',
              cellspacing: '0',
              border: '1',
              bordercolor: '#ccc'
            },
            styles: {
              'border-collapse': 'collapse'
            }
          },
          { name: 'Borderless Table',   element: 'table', styles: { 'border-style': 'hidden', 'background-color': '#E6E6FA' } },
          { name: 'Square Bulleted List', element: 'ul',    styles: { 'list-style-type': 'square' } },
          /* Widget Styles */
          // We use this one to style the brownie picture.
          { name: 'Illustration', type: 'widget', widget: 'image', attributes: { 'class': 'image-illustration' } },
          // Media embed
          { name: '240p', type: 'widget', widget: 'embedSemantic', attributes: { 'class': 'embed-240p' } },
          { name: '360p', type: 'widget', widget: 'embedSemantic', attributes: { 'class': 'embed-360p' } },
          { name: '480p', type: 'widget', widget: 'embedSemantic', attributes: { 'class': 'embed-480p' } },
          { name: '720p', type: 'widget', widget: 'embedSemantic', attributes: { 'class': 'embed-720p' } },
          { name: '1080p', type: 'widget', widget: 'embedSemantic', attributes: { 'class': 'embed-1080p' } }
        ]
      } );
      $(document).ready(function(){
        $('#short_description').textcounter({
          type: "character",
          max: 300,
          stopInputAtMaximum: true,
          countDownText: "%d characters remaining"
        });
        $('.selectjs').selectize();
        $('.input_tags').selectize({
          persist: false,
          createOnBlur: true,
          create: true
        });
      })
    </script>
    <% } %>
    <script>
      $(document).ready(function() {
        $('#dataTable').DataTable();
        $("#post_file").fileinput();

        $('.delete_post_btn').click(function(){
          let post_id = $(this).attr('post_id');
          $('#deletable_post_id').val(post_id);
          $('#delete_post_modal').modal('show');
        });

        $('.delete_course_btn').click(function(){
          let course_id = $(this).attr('course_id');
          $('#deletable_course_id').val(course_id);
          $('#delete_course_modal').modal('show');
        });

        $('#learning_outcomes_btn').click(function(e){
          e.preventDefault();
          data = {
            learning_outcomes : $('#learning_outcomes').val(),
            course_id : $('#course_id').val()
          }
          console.log(data)
          $.post('/admin/course/outcomes/submit', data, function(output){

               var str = "<div class='alert alert-warning'>";
                  str += "<div class='row'>";
                  str += "<div class='col-md-12' >";
                  str += "<span style='font-weight:bold;text-decoration:underline;'>"+$('#learning_outcomes').val()+"</span>"
                  str += "<span style='text-decoration:none;cursor:pointer;' class='text-danger delete_outcome_btn'><i class='fa fa-trash'></i></span>";
                  str += "</div>";
                  
                  str += "</div>";
                  str += "</div>";
            $('#learning_outcomes_div').append(str);
            $('#learning_outcomes').val('');
            
            
          });

        });

        $('#learning_lesson_btn').click(function(e){
          e.preventDefault();
          data = {
            course_lesson : $('#course_lesson').val(),
            course_id : $('#course_id').val()
          }
          console.log(data)
          $.post('/admin/course/lesson/submit', data, function(output){

               var str = "<div class='alert alert-warning'>";
                  str += "<div class='row'>";
                  str += "<div class='col-md-12' >";
                  str += "<span style='font-weight:bold;text-decoration:underline;'>"+$('#course_lesson').val()+"</span>"
                  str += "<span style='text-decoration:none;cursor:pointer;' class='text-danger delete_lesson_btn'><i class='fa fa-trash'></i></span>";
                  str += "</div>";
                  
                  str += "</div>";
                  str += "</div>";
            $('#learning_lessons_div').append(str);
            $('#course_lesson').val('');
            
            
          });

        });


        $('.delete_comment_btn').click(function(e){
          $('#deletable_comment_id').val($(this).attr('comment_id_'));
          $('#delete_comment_modal').modal('show');
        });

        $('.delete_outcome_btn').click(function(e){
          $('#deletable_outcome_id').val($(this).attr('outcome_id_'));
          $('#delete_outcome_modal').modal('show');
        })

        $('.delete_lesson_btn').click(function(e){
          $('#deletable_lesson_id').val($(this).attr('lesson_id_'));
          $('#delete_lesson_modal').modal('show');
        })
      });
    </script>
